{%extends "myInstitute/base.html"%}
{%load crispy_forms_tags%}
{%block body%}
<div id=" login">
    <div class="logback">
        <div class="user-pic" style="margin: auto; margin-top: 150px;">
            <img src="../static/myInstitute/img/download.png" />
            <h1 style="text-align: center ; margin-top: 50px; color: beige">
                آموزشگاه
            </h1>
        </div>
    </div>

    <div class="logform">
        <div class="container" style="padding-top: 100px;">
            <div class="mybox" style=" background-color: rgb(12, 0, 102, 0.6);">
                <h1>وروداعضا</h1>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-group">
                            <div id="div_id_username" class="control-group">
                                <p class="mylabel" for="id_username">
                                    نام کاربری</p>
                                <div class="controls">
                                    {{ form.username | as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="div_id_password" class="control-group">
                                <p class="mylabel" for="id_password">
                                    رمز ورود</p>
                                <div class="controls">
                                    {{ form.password | as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-light ">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer style="margin: 0">
    <p>
        Copyright © 2019,
        <a href="https://github.com/Arefee" data-toggle="tooltip" data-placement="top" title="My Github">Arefe
            Hamidi</a>. All rights reserved.
    </p>
</footer>
{%endblock body%}