{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no" />
    <title></title>
    <link href="{% static 'myInstitute/img/download.png'%}" rel="shotcut icon" />

    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-grid.css.map' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-grid.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-grid.min.css.map' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-reboot.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-reboot.css.map' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap-reboot.min.css' %}" />
    <link rel="stylesheet" type="text/css"
        href="{% static 'myInstitute/css/bootstrap/bootstrap-reboot.min.css.map' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap.css.map' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'myInstitute/css/bootstrap/bootstrap.min.css.map' %}" />
    <link href="https://fonts.googleapis.com/css?family=Cairo|Lalezar|Scheherazade&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {%block body%} {%endblock body%}


</body>

</html>